{% extends "adminapp/admin-master.html" %}
{% load static %}
{% block content %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h3 class="fw-bold py-3 mb-4"> Game List </h3>
            </div>
                    <div class="card-body">
                      <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="game-name" class="form-label">Game Name</label>
                          <div class="input-group">
                            <span class="input-group-text" id="game-name-icon">
                              <i class="bx bx-joystick-alt"></i>
                            </span>
                            <input
                              type="text"
                              class="form-control"
                              id="game-name"
                              name="name"
                              placeholder="Enter game name"
                              aria-label="Game Name"
                              aria-describedby="game-name-icon"
                              required
                            />
                          </div>
                          <div class="invalid-feedback">Please enter a game name.</div>
                        </div>
                        
                        
                        <div class="mb-3">
                          <label for="game-level" class="form-label">Game Level</label>
                          <div class="input-group">
                            <span class="input-group-text" id="game-level-icon">
                              <i class="bx bx-layer"></i>
                            </span>
                            <select
                              id="game-level"
                              class="form-control"
                              name="level"
                              aria-label="Game Level"
                              aria-describedby="game-level-icon"
                              required
                            >
                              <option value="" selected disabled>Select game level</option>
                              <option value="beginner">Beginner</option>
                              <option value="intermediate">Intermediate</option>
                              <option value="advanced">Advanced</option>
                            </select>
                          </div>
                          <div class="invalid-feedback">Please select a game level.</div>
                        </div>
                        
                        


                        <div class="mb-3">
                          <label for="game-category" class="form-label">Category</label>
                          <div class="input-group">
                            <span class="input-group-text" id="game-category-icon">
                              <i class="bx bx-category"></i>
                            </span>
                            <select
                              id="game-category"
                              class="form-control"
                              name="category"
                              aria-label="Game Category"
                              aria-describedby="game-category-icon"
                              required
                            >
                              <option value="" selected disabled>Select category</option>
                              <option value="Single-player">Single Player</option>
                              <option value="Multi-player">Multi Player</option>
                              
                            </select>
                          </div>
                          <div class="invalid-feedback">Please select a category.</div>
                        </div>
                        
                      
                
                       
                        
                        <div class="mb-3">
                          <label for="game-image" class="form-label">Game Image</label>
                          <div class="input-group">
                            <span class="input-group-text" id="game-image-icon">
                              <i class="bx bx-image"></i>
                            </span>
                            <input 
                              type="file" 
                              name="image" 
                              class="form-control" 
                              id="game-image" 
                              accept="image/*" 
                              aria-label="Upload Game Image"
                              aria-describedby="game-image-icon"
                              required
                            />
                          </div>
                          <div class="invalid-feedback">Please upload a game image.</div>
                        </div>
                        
                   
                        {% comment %} <div class="mb-3">
                          <label for="game-rules" class="form-label">Rules</label>
                          <div class="input-group">
                            <span class="input-group-text"><i class="bx bx-list-check"></i></span>
                            <textarea
                              id="game-rules"
                              class="form-control"
                              name="rules"
                              placeholder="Enter game rules here..."
                              aria-label="Game Rules"
                              rows="4"
                              required
                            ></textarea>
                          </div>
                          <div class="invalid-feedback">Please enter the game rules.</div>
                        </div>
                         {% endcomment %}

                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
                </div>
                <div>
                  <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                  <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

                  <a
                    href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                    target="_blank"
                    class="footer-link me-4"
                    >Documentation</a>

                  <a
                    href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank"
                    class="footer-link me-4"
                    >Support</a>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

   

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>


{% endblock %}